In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('final_dataset_SA.csv')

In [3]:
df.drop(['callsign', 'number','icao24','origin','destination','dest cou'], axis=1)

     origin cou Dest Country Name  Dest Population Density
0            ZA             Italy               198.388557
1            ZA             Italy               198.388557
2            ZA             Italy               198.388557
3            ZA             Italy               198.388557
4            ZA             Italy               198.388557
...         ...               ...                      ...
1283         ZA             Kenya                96.611909
1284         ZA             Kenya                96.611909
1285         ZA             Kenya                96.611909
1286         ZA             Kenya                96.611909
1287         ZA             Kenya                96.611909

[1288 rows x 3 columns]

In [4]:
unique = df['Dest Country Name'].value_counts()

In [5]:
df_uk = pd.read_csv('final_dataset_GB.csv')

In [6]:
unique

Qatar          278
Netherlands    256
Germany        211
France         114
Switzerland    106
Belgium         76
Singapore       75
Kenya           26
Australia       17
Sweden          16
Italy           15
India           14
Senegal         12
Ireland         12
Austria          7
Brazil           6
Israel           5
Morocco          4
Spain            4
Guatemala        3
Algeria          3
Portugal         3
China            3
Malaysia         3
Japan            3
Philippines      2
Thailand         2
Argentina        2
Greece           2
Romania          1
Bahrain          1
Iceland          1
Barbados         1
Norway           1
Poland           1
Ecuador          1
Bulgaria         1
Name: Dest Country Name, dtype: int64

In [7]:
unique.head(5)

Qatar          278
Netherlands    256
Germany        211
France         114
Switzerland    106
Name: Dest Country Name, dtype: int64

In [12]:
unique[31:37]

Iceland     1
Barbados    1
Norway      1
Poland      1
Ecuador     1
Bulgaria    1
Name: Dest Country Name, dtype: int64

In [18]:
unique[16:21]

Israel       5
Morocco      4
Spain        4
Guatemala    3
Algeria      3
Name: Dest Country Name, dtype: int64

In [8]:
df_uk.drop(['callsign', 'number','icao24','origin','destination','dest cou'], axis=1)

      origin cou Dest Country Name  Dest Population Density
0             GB             Italy               198.388557
1             GB             Italy               198.388557
2             GB             Italy               198.388557
3             GB             Italy               198.388557
4             GB             Italy               198.388557
...          ...               ...                      ...
75108         GB            Jordan               115.668191
75109         GB            Jordan               115.668191
75110         GB            Jordan               115.668191
75111         GB            Jordan               115.668191
75112         GB            Jordan               115.668191

[75113 rows x 3 columns]

In [9]:
count_uk = df_uk['Dest Country Name'].value_counts()

In [10]:
count_uk

Germany        8438
Spain          8194
Ireland        7781
France         6136
Italy          5713
Netherlands    5447
Switzerland    4928
Poland         4123
Portugal       3717
Denmark        1699
Belgium        1618
Austria        1375
Norway         1340
Sweden         1185
Canada         1013
Hungary         973
Romania         894
Iceland         850
Bulgaria        757
Qatar           747
Greece          708
Lithuania       681
India           578
Finland         562
Cyprus          555
Barbados        548
Malta           518
Latvia          485
Luxembourg      438
Singapore       390
Israel          377
Ukraine         280
Gibraltar       256
Japan           207
Bahrain         203
Thailand        168
Brazil          147
Estonia         144
Mexico          141
Croatia         121
Slovenia        102
Australia        95
Lebanon          92
China            89
Serbia           65
Bermuda          59
Algeria          36
Senegal          33
Jordan           24
Argentina        20
Morocco          16
Malaysia         16
Kazakhstan       16
Philippines      11
Vietnam           3
Kenya             1
Name: Dest Country Name, dtype: int64

In [16]:
len(count_uk)

56

In [15]:
count_uk.head(5)

Germany    8438
Spain      8194
Ireland    7781
France     6136
Italy      5713
Name: Dest Country Name, dtype: int64

In [17]:
count_uk[51:56]

Malaysia       16
Kazakhstan     16
Philippines    11
Vietnam         3
Kenya           1
Name: Dest Country Name, dtype: int64

In [19]:
count_uk[25:30]

Barbados      548
Malta         518
Latvia        485
Luxembourg    438
Singapore     390
Name: Dest Country Name, dtype: int64